<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css"/>
		<title>Eat-Da-BURGER!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
    <script>
        $(function(){
            $(".eat").on("click", function(event){
                var id = $(this).data("id");
                console.log(id);
                
                $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: {devoured: true}
                }).then(function() {
                    console.log("devoured");
                    location.reload();
                });
            });

            $("#add").on("click", function(event) {
                event.preventDefault();

                var newBurger = JSON.stringify($("#burg").val().trim());
                console.log(newBurger);
                
                $.post("/api/newburger", {newBurger: newBurger}).then(function() {
                    console.log("created new burger");
                    location.reload();
                });
            });
        });
    </script>
	</body>
</html>
